In [1]:
import pandas as pd
from sklearn import linear_model
import datetime
from sklearn import preprocessing

# Import data

- Happiness (done)
- Wealth
- Social (done)
- Spend (done)
- Health
- NoiseAversion

# Functions

Fundtion to get the

In [2]:
def getWeek(date):
    return date.isocalendar()[1]

In [3]:
def getAggCost(row):
    return summary.loc[(row['user'], row['week'])][0]

In [4]:
def getMeanHappiness(row):
    return happiness.loc[(row['user'], row['week'])][0]

In [5]:
def getMeanSocial(row):
    return social.loc[(row['user'], row['week'])][0]

In [6]:
def getMeanHealth(row):
    return health.loc[(row['user_id'], row['week'])][0]

# Happiness

In [7]:
hdf = pd.read_csv('sentiment-analysis/Happiness.csv')
hdf['date_processing'] = pd.to_datetime(hdf['date'], format='%d/%m/%Y', errors='coerce')
hdf['week'] = hdf['date_processing'].apply(getWeek)

# Spend

In [8]:
sdf = pd.read_csv('sentiment-analysis/Spend.csv')
sdf['date_processing'] = pd.to_datetime(sdf['date'], format='%d/%m/%Y', errors='coerce')
sdf['week'] = sdf['date_processing'].apply(getWeek)

# Social

In [9]:
sodf = pd.read_csv('sentiment-analysis/social-mock.csv')
sodf['date_processing'] = pd.to_datetime(sodf['post_date'], format='%Y/%m/%d', errors='coerce')
sodf['week'] = sodf['date_processing'].apply(getWeek)

## Health

In [10]:
hedf = pd.read_csv('sentiment-analysis/Health.csv')
hedf['date_processing'] = pd.to_datetime(hedf['date'], format='%d/%m/%Y', errors='coerce')
hedf['week'] = hedf['date_processing'].apply(getWeek)

# Aggregate all figures in same week

Data to be aggregated on week

## Happiness

In [11]:
happiness = hdf.groupby(['user','week'])[['user','average_sentiment']].mean()
hdf['avg_happiness_sentiment'] = hdf.apply(getMeanHappiness, axis=1)
hdf = hdf[['user','week','avg_happiness_sentiment']]

In [12]:
hdf = hdf.drop_duplicates()

## Spend

In [13]:
summary = sdf.groupby(['user','week'])[['user','cost']].sum()
sdf['agg_cost'] = sdf.apply(getAggCost, axis=1)
sdf = sdf[['user','week','agg_cost']]

In [14]:
sdf = sdf.drop_duplicates()

## Social

In [15]:
sodf = sodf.rename(index=str, columns={"user_id": "user", 
                                       "post_date": "date", 
                                       "sentiment": "average_sentiment", 
                                       "social": "social",
                                       "date_processing": "date_processing",
                                       "week": "week"})

In [16]:
social = sodf.groupby(['user','week'])[['user','average_sentiment']].mean()
sodf['avg_social_sentiment'] = sodf.apply(getMeanSocial, axis=1)
sodf = sodf[['user','week','avg_social_sentiment']]

In [17]:
sodf = sodf.drop_duplicates()

## Health

In [18]:
health = hedf.groupby(['user_id','week'])[['user_id','at_gym']].sum()
hedf['sum_health'] = hedf.apply(getMeanHealth, axis=1)
hedf = hedf[['user_id','sum_health','week']]

In [19]:
hedf = hedf.rename(index=str, columns={
    "user_id": "user",
    "sum_health": "sum_health",
    "week": "week"
})

In [20]:
hedf = hedf.drop_duplicates()

# Combine data

In [21]:
hdf.head(1)

                   user  week  avg_happiness_sentiment
0  test_user_1@test.com     1                   0.1429

In [22]:
sdf.head(1)

                   user  week  agg_cost
0  test_user_1@test.com     8       544

In [23]:
sodf.head(1)

                   user  week  avg_social_sentiment
0  test_user_1@test.com     6              0.578435

In [24]:
hedf.head(1)

                   user  sum_health  week
0  test_user_1@test.com           1     6

In [25]:
step1 = pd.merge(hdf, sdf, on=['week','user'], how='outer')
step2 = pd.merge(step1, sodf, on=['week','user'], how='outer')
step3 = pd.merge(step2, hedf, on=['week','user'], how='outer')

## Normalise Agg Cost

In [26]:
# Create x, where x the 'scores' column's values as floats
c = step3[['agg_cost']]

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
c_scaled = min_max_scaler.fit_transform(c)

# Run the normalizer on the dataframe
step3['norm_agg_cost'] = pd.DataFrame(c_scaled)

## Normalise Health

In [27]:
# Create x, where x the 'scores' column's values as floats
h = step3[['sum_health']].fillna(0)

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
h_scaled = min_max_scaler.fit_transform(h)

# Run the normalizer on the dataframe
step3['norm_sum_health'] = pd.DataFrame(h_scaled)

# Create Model

In [28]:
ols = linear_model.LinearRegression()
model = ols.fit(step3[['norm_agg_cost','avg_social_sentiment','norm_sum_health']].fillna(0), step3['avg_happiness_sentiment'].fillna(0))

In [29]:
for user in step3['user'].unique():
    userDf = step3[step3['user']==user]
    
    ols = linear_model.LinearRegression()
    model = ols.fit(userDf[['norm_agg_cost','avg_social_sentiment','norm_sum_health']].fillna(0), userDf['avg_happiness_sentiment'].fillna(0))
    print(model.coef_)

[-0.34132976 -0.55968094 -0.18257986]
[ 0.14402063 -0.20170681 -0.00672785]
[ 0.53228374 -0.04211905  0.00198792]
[ 0.01426534  0.         -0.07646184]
[0.01220044 0.         0.11809252]